{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css "href="{% static 'Scan/Scan.css' %}">

</head>

<body>
  <div class="header">
    <p class="down"><span class="inc">C</span>amScan  &nbsp;    Documentation<p>
  </div>

  <div  id="test">
    <img src="data:image/png;base64, {{ img }}"></img>
  </div>
    <form action="{% url 'download' %}">
    <span class="center"><input class="but"type="submit" value="download" /></span>
    </form>
    <form action="{% url 'html_render' %}">
    <span class="centerq"><input class="but" type="submit" value="One more!" /></span>
    </form>
  </body>
</html>
