{% load static %}
<html>

  <head>
    <title>Cam Scan</title>
    <link rel="stylesheet" type="text/css "href="{% static 'Scan/Scan.css' %}">

  </head>
  <body>

    <div class="header">
      <p class="down"><span class="inc">C</span>amScan  &nbsp;    Documentation<p>
    </div>
    <div  id="test">
        <img src="{% url 'stream' %}">
    </div>
    <form action="{% url 'capture' %}">
    <span class="center"><input class="but"  type="submit" value="Capture" /></span>
</form>

  </body>
</html>
