<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Cam Scan</title>
  <link rel="stylesheet" type="text/css "href="{% static 'Scan/Scan.css' %}">

</head>

<body>
  <div class="header">
    <p class="down"><span class="inc">C</span>amScan  &nbsp;    Documentation<p>
  </div>

  <div  id="test">
    <img src="data:image/png;base64, {{ img }}"></img>
  </div>

    <form action="{% url 'per_blur' %}">
    <span class="center"><input class="but" type="submit" value="ok!" /></span>
</form>
  </body>
</html>
